<% layout('layouts/boilerplate')%> 

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3" style="width: 25rem;">
            <img src="<%= store.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= store.title %></h5>
              <p class="card-text"><%= store.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= store.location %></li>
              <li class="list-group-item">$<%= store.price %> Single Scoop Cone</li>
            </ul>
            <div class="card-body">
              <a class = "card-link btn btn-primary" href="/stores/<%=store._id %>/edit" class="card-link">Edit</a>
              <form class="d-inline" action="/stores/<%=store._id%>?_method=Delete" method='Post'>
                <button class="btn btn-danger">Delete</button>
            </form>
            </div>
            <div class="card-footer text-muted">
                <a href="/stores">All Stores</a>
              </div>
          </div>
    </div>
</div>

